*.class
*.log
.cache
.history
.lib/
app/dist/*
app/target/
app/lib_managed/
app/src_managed/
app/project/boot/
app/project/plugins/project/
app/project/project/

.idea
*.iml
app/.idea
app/project/target/
target/

.compose.env.articles
.compose.env.database

native

output
